@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Pschool</h1>


<body>
    <strong>Features:</strong>
    <br>
    - Manage students and parents
    <br>
    - Create, edit, and view profiles
    <br>
    - CRUD operations with a modern UI
</body>